
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> @ViewBag.Greeting From the view
        <p>
            We're going to have an exciting party <br />
            To do: add pictures, etc
        </p>
        @Html.ActionLink("RSVP now", "RsvpForm")
    </div>
</body>
</html>
