@model String

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" value="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div>
        @Model
    </div>
</body>
</html>

